<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mision</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="mision.css">
<header>

        <div class="menu container">
            <img class="logo-1" src="/imagenes/logonegro.jpg" alt="">
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="/imagenes/menu (1).png" class="menu-icono" alt="">
            </label>
            <nav class="navbar">
                <div class="menu-1">
                    <ul>
                        <li><a href="../home/index.html">Inicio</a></li>
                        <li><a href="../servicios/index.html">Servicios</a></li>
                        <li><a href="../vision/index.html">Vision</a></li>
                        <li><a href="../mision/index.html">Mision</a></li>
                    </ul>
                </div>
                <img class="logo-2" src="/imagenes/logonegro.jpg" alt="">
                <div class="menu-2">
                    <ul>
                        <li><a href="../registro/index.html">Registrarse</a></li>
                    </ul>
                    <div class="socials">
                        <a href="https://www.facebook.com/profile.php?id=61550603648482">
                            <div class="social">
                                <img src="/imagenes/s1.svg" alt="">
                            </div> 
                        </a>
                        <a href="https://twitter.com/InJamisus?s=20">
                            <div class="social">
                                <img src="/imagenes/s2.svg" alt="">
                            </div>
                        </a>
                        <a href="#">
                            <div class="social">
                                <img src="/imagenes/s3.svg" alt="">
                            </div>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
</header>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    <section class="mision container">
        <div class="mision txt">
            <p>Proporcionar los servicios de transporte y logística en el ámbito nacional de una manera profesional, cubriendo las necesidades de los clientes y proporcionando un trato personalizado para que cumplan sus objetivos.</p>
        </div>

    </section>
</body>
</html>