<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inversiones Jamisus</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../usuarios/usuarios.css">
</head>
<body>
    <header>

        <div class="menu container">
            <img class="logo-1" src="/imagenes/logo-removebg-preview.png" alt="">
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="/imagenes/menu (1).png" class="menu-icono" alt="">
            </label>
            <nav class="navbar">
                <div class="menu-1">
                    <ul>
                        <li><a href="">Inicio</a></li>
                        <li><a href="../servicios/index.html">Servicios</a></li>
                        <li><a href="../vision/index.html">Vision</a></li>
                        <li><a href="../mision/index.html">Mision</a></li>
                    </ul>
                </div>
                <img class="logo-2" src="/imagenes/logo-removebg-preview.png" alt="">
                <div class="menu-2">
                    <ul>
                        <li><a href="../registro/index.html">Registrarse</a></li>
                        <li><a href="../login/index.html">Login</a></li>
                    </ul>
                    <div class="socials">
                        <a href="https://www.facebook.com/profile.php?id=61550603648482">
                            <div class="social">
                                <img src="imagenes/s1.svg" alt="">
                            </div>
                        </a>
                        <a href="https://twitter.com/InJamisus?s=20">
                            <div class="social">
                                <img src="imagenes/s2.svg" alt="">
                            </div>
                        </a>
                        <a href="#">
                            <div class="social">
                                <img src="imagenes/s3.svg" alt="">
                            </div>
                        </a>
                    </div>
                </div>
            </nav>
        </div>

        <div class="header-content container">

            <div class="swiper mySwiper-1">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="slider">
                            <div class="slider-txt">
                                <h1> Kia</h1>
                                <p>Confortable Camioneta, capacidad: 13 personas, A/A, Asientos de cuero.</p>
                                <div class="botones">
                                    <a href="../solicitar/index.html" class="btn-1">Solicitar</a>
                                    <a href="../kia/index.html" class="btn-1">FOTOS</a>
                                </div>
                            </div>
                            <div class="slider-img">
                                <img src="imagenes/Kia3.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slider">
                            <div class="slider-txt">
                                <h1> Sprinter</h1>
                                <p>Modelo: Sprinter, Marca: Mercedes Benz, Año: 2007,Capacidad: 19 puestos, Aire acondicionado, Asientos reclinables</p>
                                <div class="botones">
                                    <a href="../solicitar/index.html" class="btn-1">Solicitar</a>
                                    <a href="../sprinter/index.html" class="btn-1">FOTOS</a>
                                </div>
                            </div>
                            <div class="slider-img">
                                <img src="imagenes/Sprinter2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slider">
                            <div class="slider-txt">
                                <h1> Spark</h1>
                                <p>Spark año 2007, Capacidad: 4 personas, A/A</p>
                                <div class="botones">
                                    <a href="../solicitar/index.html" class="btn-1">Solicitar</a>
                                    <a href="../spark/index.html" class="btn-1">FOTOS</a>
                                </div>
                            </div>
                            <div class="slider-img">
                                <img src="imagenes/spark1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slider">
                            <div class="slider-txt">
                                <h1> Spacefox</h1>
                                <p>Modelo: Spacefox, Marca: Volkswagen, Año: 2012, Capacidad: 4 puestos, Aire acondicionado, Asiento reclinable solo los delanteros</p>
                                <div class="botones">
                                    <a href="../solicitar/index.html" class="btn-1">Solicitar</a>
                                    <a href="../spacefox/index.html" class="btn-1">FOTOS</a>
                                </div>
                            </div>
                            <div class="slider-img">
                                <img src="imagenes/spacefox1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slider">
                            <div class="slider-txt">
                                <h1> Hyundai</h1>
                                <p>Modelo: County, Marca: Hiunday, Año: 2008, Capacidad: 28 puestos, Aire acondicionado</p>
                                <div class="botones">
                                    <a href="../solicitar/index.html" class="btn-1">Solicitar</a>
                                    <a href="../hyundai/index.html" class="btn-1">FOTOS</a>
                                </div>
                            </div>
                            <div class="slider-img">
                                <img src="/imagenes/hiunday1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    
                 </div>
                 <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
            </div>
            
        </div>
    </header>

    <section class="info">
        <div class="info-img">
            <img src="/imagenes/info1-removebg-preview.png" alt="">
        </div>
        <div class="info-txt">
            
            <p>
                Ofrecemos nuestros servicios de agencia de viajes con la mejor atencion a nuestros clientes, los mejores transportes y vehiculos disponibles para su servicio.
            </p>
            <a href="../info/index.html" class="btn-2">NUESTROS CLIENTES</a>
        </div>
    </section>

    <section class="horario">
        <div class="horario-info container">
            <h2>Horario</h2>
            <div class="horario-txt">
                <div class="txt">
                    <h4>Direccion</h4>
                    <p>
                        San Antonio de los Altos. Estado Miranda.
                    </p>
                    <p>
                        Caracas. Dsitrito Capital.
                    </p>
                </div>
                <div class="txt">
                    <h4>Horario</h4>
                    <p>
                        Lunes-Viernes: 9am-10pm
                    </p>
                    <p>
                        Sabado-Domingo: Todo el dia
                    </p>
                </div>
                <div class="txt">
                    <h4>Telefonos</h4>
                    <p>
                        04128096291
                    </p>
                    <p>
                        04242170297
                    </p>
                </div>
                <div class="txt">
                    <h4>Redes Sociales</h4>
                    <div class="socials">
                        <a href="#">
                            <div class="social">
                                <img src="imagenes/s1.svg" alt="">
                            </div>
                        </a>
                        <a href="#">
                            <div class="social">
                                <img src="imagenes/s2.svg" alt="">
                            </div>
                        </a>
                        <a href="#">
                            <div class="social">
                                <img src="imagenes/s3.svg" alt="">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125549.08663173967!2d-66.89036584999998!3d10.46839175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c2a58adcd824807%3A0x93dd2eae0a998483!2sCaracas%2C%20Distrito%20Capital!5e0!3m2!1ses!2sve!4v1690225182769!5m2!1ses!2sve" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </section>

    <footer class="footer">
        <img class="logo-2" src="/imagenes/logonegro.jpg" alt="">
        <div class="links">
            <h4>Enlaces</h4>
            <ul>
                <li><a href="">Inicio</a></li>
                <li><a href="../servicios/index.html">Servicios</a></li>
                <li><a href="../vision/index.html">Vision</a></li>
                <li><a href="../mision/index.html">Mision</a></li>
            </ul>
        </div>
        <div class="links">
            <h4>Redes Sociales</h4>
            <div class="socials">
                <a href="https://www.facebook.com/profile.php?id=61550603648482">
                    <div class="social">
                        <img src="imagenes/s1.svg" alt="">
                    </div>
                </a>
                <a href="https://twitter.com/InJamisus?s=20">
                    <div class="social">
                        <img src="imagenes/s2.svg" alt="">
                    </div>
                </a>
                <a href="https://www.instagram.com/injamisus/">
                    <div class="social">
                        <img src="imagenes/s3.svg" alt="">
                    </div>
                </a>
            </div>
        </div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="../usuarios/script.js"></script>
</body>
</html>