<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informacion</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="info.css">
    <link rel="stylesheet" href="../info/lightbox.css">
<header>

    <div class="menu container">
        <img class="logo-1" src="/imagenes/logonegro.jpg" alt="">
        <input type="checkbox" id="menu" />
        <label for="menu">
            <img src="/imagenes/menu (1).png" class="menu-icono" alt="">
        </label>
        <nav class="navbar">
            <div class="menu-1">
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="../registro/index.html">Registrarse</a></li>
                    <li><a href="../login/index.html">Login</a></li>
                </ul>
            </div>
            <img class="logo-2" src="/imagenes/logonegro.jpg" alt="">
            <div class="menu-2">
                <ul>
                    <li><a href="#">Registrarse</a></li>
                </ul>
                <div class="socials">
                    <a href="https://www.facebook.com/profile.php?id=61550603648482">
                        <div class="social">
                            <img src="/imagenes/s1.svg" alt="">
                        </div>
                    </a>
                    <a href="https://twitter.com/InJamisus?s=20">
                        <div class="social">
                            <img src="/imagenes/s2.svg" alt="">
                        </div>
                    </a>
                    <a href="#">
                        <div class="social">
                            <img src="/imagenes/s3.svg" alt="">
                        </div>
                    </a>
                </div>
            </div>
        </nav>
    </div>
</header>

<section class="logos">
    <div class="logos">
        <div class="gallery">
            <a href="/imagenes/colegio.jpeg" data-lightbox="models" date-title="Imagen 1">
                <img src="/imagenes/colegio.jpeg" alt="">
            </a>
            <a href="/imagenes/bmx.png" data-lightbox="models" date-title="Imagen 1">
                <img src="/imagenes/bmx.png" alt="">
            </a>
            <a href="/imagenes/ucv.svg" data-lightbox="models" date-title="Imagen 1">
                <img src="/imagenes/ucv.svg" alt="">
            </a>
            <a href="/imagenes/valle alto.jpeg" data-lightbox="models" date-title="Imagen 1">
                <img src="/imagenes/valle alto.jpeg" alt="">
            </a>
            <a href="/imagenes/wawa.png" data-lightbox="models" date-title="Imagen 1">
                <img src="/imagenes/wawa.png" alt="">
            </a>
            <a href="/imagenes/granja.png" data-lightbox="models" date-title="Imagen 1">
                <img src="/imagenes/granja.png" alt="">
            </a>
        </div>

    </div>
    </section>
    
    <script src="../info/lightbox-plus-jquery.min.js"></script>
</body>
</html>