<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hyundai</title>
    <link rel="stylesheet" href="../hyundai/hyundai.css">
    <link rel="stylesheet" href="../hyundai/lightbox.css">
<header>

        <div class="menu container">
            <img class="logo-1" src="/imagenes/logonegro.jpg" alt="">
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="/imagenes/menu (1).png" class="menu-icono" alt="">
            </label>
            <nav class="navbar">
                <div class="menu-1">
                    <ul>
                        <li><a href="../index.html">Inicio</a></li>
                        <li><a href="../registro/index.html">Registrarse</a></li>
                        <li><a href="../login/index.html">Login</a></li>
                    </ul>
                </div>
                <img class="logo-2" src="/imagenes/logonegro.jpg" alt="">
                <div class="menu-2">
                    <ul>
                        <li><a href="../registro/index.html">Registrarse</a></li>
                    </ul>
                    <div class="socials">
                        <a href="https://www.facebook.com/profile.php?id=61550603648482">
                            <div class="social">
                                <img src="/imagenes/s1.svg" alt="">
                            </div>
                        </a>
                        <a href="https://twitter.com/InJamisus?s=20">
                            <div class="social">
                                <img src="/imagenes/s2.svg" alt="">
                            </div>
                        </a>
                        <a href="#">
                            <div class="social">
                                <img src="/imagenes/s3.svg" alt="">
                            </div>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
</header>

    <section class="carros">
    <div class="carros">
        <div class="gallery">
            <a href="/imagenes/hiunday1.jpg" data-lightbox="models" date-title="Imagen 1">
                <img src="/imagenes/hiunday1.jpg" alt="">
            </a>
            <a href="/imagenes/hiunday2.jpg" data-lightbox="models" date-title="Imagen 1">
                <img src="/imagenes/hiunday2.jpg" alt="">
            </a>
            <a href="/imagenes/hiunday3.jpg" data-lightbox="models" date-title="Imagen 1">
                <img src="/imagenes/hiunday3.jpg" alt="">
            </a>
            <a href="/imagenes/hiunday4.jpg" data-lightbox="models" date-title="Imagen 1">
                <img src="/imagenes/hiunday4.jpg" alt="">
            </a>
            <a href="/imagenes/hiunday5.jpg" data-lightbox="models" date-title="Imagen 1">
                <img src="/imagenes/hiunday5.jpg" alt="">
            </a>
            <a href="/imagenes/hiunday6.jpg" data-lightbox="models" date-title="Imagen 1">
                <img src="/imagenes/hiunday6.jpg" alt="">
            </a>
        </div>

    </div>
    </section>
    
    <script src="../kia/lightbox-plus-jquery.min.js"></script>
</body>
</html>